<!DOCTYPE html>
{% load menu_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing profile</title>
</head>
<body>
    <div id="main_menu">{% main_menu %}</div>
    <h1>Editing your profile {{ user.username }}</h1>
        <p>Data yours:</p>
        <form method="post" enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% if user.avatar %}<div><img src="{{ user.avatar.url }}" alt="" width="100px" height="100px"></div>{% endif %}
            {% csrf_token %}
            <p><input type="submit" value="Save"></p>
        </form>
</body>
</html>