<!DOCTYPE html>
{% load menu_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>{{ title }}</title>
</head>
<body>
<div id="main_menu">{% main_menu %}</div>
<div id="user_menu">{% user_menu %}</div>


{% for post in posts %}
    <h3>{{ post.title }}</h3>

    {% if post.file %}
        <div><a href="{{ post.file.file.url }}" target="_blank"><img src="{{ post.file.file.url }}" alt="" width="350px" height="350px"></a></div>
    {% endif %}
        <div><a href="{% url 'delete_post' post.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></div>
        <div><a href="{% url 'update_post' post.pk %}"><button type="button" class="btn btn-danger">Update</button></a></div>
    <div>{{ post.text }}</div>

{% endfor %}
<div>
</div>
</body>
</html>

