<!DOCTYPE html>
{% load menu_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

</head>
<body>
<div id="main_menu">{% main_menu %}</div>
<div id="user_menu">{% user_menu %}</div>


{% for post in posts %}
    <h3>{{ post.title }}</h3>

    {% if post.file %}
        <div><a href="{{ post.file.file.url }}" target="_blank"><img src="{{ post.file.file.url }}" alt="" width="350px" height="350px"></a></div>
    {% endif %}
    <div>{{ post.text }}</div>
        <div><a href="{% url 'delete_post' post.pk %}"><button type="button" class="btn btn-danger">Delete</button></a></div>


{% endfor %}

{% if posts.has_other_pages %}
<nav id="pagination" class="col align-self-center" aria-label="Page navigation example">
    <ul class="pagination">
    {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
        {% if i > posts.number|add:-4 and i < posts.number|add:4 %}
            {% if posts.number == i %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</span></li>
    {% endif %}
    </ul>
</nav>
{% endif %}

</body>
</html>

